* {
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(#374151, #111827);
}

.header a {
    text-decoration: none;
}

.header input {
    background-color: rgba(31, 41, 55, 0.6);
    font-size: 16px;
}

.section li {
    font-size: 14px;
}

.section h1 {
    font-size: 24px;
}

.prof {
    font-size: 14px;
}

.text1 {
    font-size: 20px;
}